{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
            <h2>Список усіх книг на обмін</h2>
    </header>

    {% for book in books %}
        <p>
            Картинка: <img src="{{ book.picture.pic.url }}" width=200 class="rounded" alt="{{ book.picture.pic.url }}">
            <br>
            Категорія: {{ book.category }}
            <br>
            Назва книги: {{ book.title }}
            <br>
            Автор: {{ book.author }}
            <br>
            Власник: {{ book.owner }}
            <br>
            Cтворено для обміну: {{ book.created_at|date:"d/m/Y H:i:s" }}
        </p>
    {% endfor %}

{% endblock %}