{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    </header>
    <br>
    {% for book in user_books %}
        <p>
            Картинка:
            <br>
            Категорія: {{ book.category }}
            <br>
            Назва книги: {{ book.title }}
            <br>
            Автор: {{ book.author }}
            <br>
            Cтворено для обміну: {{ book.created_at|date:"d/m/Y H:i:s" }}
        </p>
    {% endfor %}
{% endblock %}
